{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning",
      "FakeAiChecker": "Information"
    }
  },
  "AllowedHosts": "*",
  "ConnectionStrings": {
    "DefaultConnection": "Server=localhost;Database=fakeaichecker;Uid=admin;Pwd=extremely_secure_db_passwd;"
  },
  "Security": {
    "MaxUploadSizeMB": 50,
    "AllowedFileExtensions": [
      ".txt", ".doc", ".docx", ".pdf", ".zip", ".rar", ".7z", ".tar", ".gz",
      ".env", ".json", ".xml", ".yml", ".yaml", ".config", ".ini", ".properties"
    ],
    "ScanTimeoutMinutes": 5
  },
  "JwtSettings": {
    "Secret": "jwt_secret_key_here_256_bits_long_and_complex_123!@#",
    "Issuer": "FakeAiChecker",
    "Audience": "FakeAiCheckerUsers",
    "ExpirationInMinutes": 120
  },
  "PasswordSecurity": {
    "Pepper": "secret_pepper_for_password_security_456!@#"
  },
  "AdminSetup": {
    "DefaultUsername": "g4stly",
    "DefaultPassword": "extremely_secure_admin_passwd"
  }
}
